* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Segoe UI", "Roboto" sans-serif;
  font-size: 1em;
}

#weatherApp > div:first-of-type {
  flex: 1;
}

#main-content {
  flex: 1;
}

/* NAVBAR */

#weatherAppIconNavbar {
  width: 2.2em;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover,
.btn:hover {
  scale: 1.1;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  max-width: 180px;
  max-height: 30px;
}

.form-control::placeholder {
  color: #fff;
  opacity: 0.5;
}

/* MAIN */

#weather-app {
  position: relative;
  width: 100vw;
  height: 100%;
}
#bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}
.content {
  position: relative;
  z-index: 1000;
}

.locationIcon {
  width: 20px;
}

#weatherIcon {
  width: 8em;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.hompageIcon {
  width: 2.5em;
}

.bg-opacity {
  background-color: #25242438;
}

.weatherFiveDays::-webkit-scrollbar {
  height: 6px;
}

.weatherFiveDays::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.cardsContainer {
  font-size: 0.6em;
}

.iconThreeHours {
  scale: 1.5;
}
